@import "tailwindcss";

/* ===== Base Reset ===== */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/* ===== ซ่อน scrollbar ของแถบหมวดหมู่ ===== */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
