@import "tailwindcss";

/* ✅ บังคับทั้งเว็บใช้ Itim */
html, body {
  font-family: inherit;
}

/* ✅ ปุ่ม/ฟอร์ม บางทีไม่ยอมใช้ font เดียวกัน ต้องสั่งเพิ่ม */
button, input, textarea, select {
  font-family: inherit;
}
